@tailwind base;
@tailwind components;
@tailwind utilities;

/* .header {
  display: flex;
  justify-content: space-between;

  max-width: 90%;
  margin: 0px auto;
}
.logo {
  width: 200px;
  text-align: center;
  margin-top: 10px;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
  font-size: 26px;
  font-weight: 600;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.res-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  justify-content: stretch;
  margin: 30px auto;
  gap: 12px;
  transition: all 0.05s ease 0s;
}
.res-card {
  max-width: 350px;
  cursor: pointer;
  align-items: center;
  border-radius: 17px;
}
.res-card:hover {
  transform: scale(0.95, 0.95);
  transform-origin: center center;
  transition: all 0.1s ease-in 0s;
}
.cuisines {
  overflow-wrap: break-word;
}
.image-div {
  width: 100%;
  height: 50%;
  border-radius: 16px;
  display: inline-block;
  position: relative;
}
.image-div::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 150%
  );
}

.res-image {
  width: 100%;
  object-fit: cover;
  height: 100%;
  overflow: hidden;
  border-radius: 16px;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
}

.res-details {
  padding-left: 15px;
} */
